# One-to-Many and Many-to-Many Joins - Lab

## Introduction

In this lab, you'll practice your knowledge on one-to-many and many-to-many relationships!

## Objectives

You will be able to:
- Query data using one-to-many and many-to-many joins
- Predict the resulting size of one-to-many and many-to-many joins

## One-to-Many and Many-to-Many Joins
<img src='images/Database-Schema.png' width="600">

## Connect to the Database

In [1]:
import sqlite3
conn = sqlite3.connect('data.sqlite')
cur = conn.cursor()

## Employees and their Office (a One-to-One join)

Return a list of all of the employees with their first name, last name and the city and state of the office that they work out of (if they have one). Include all employees and order them by their first name, then their last name.

In [3]:
cur.execute('''
    SELECT firstName, lastName, city, state
    FROM employees
    JOIN offices
    USING (officeCode)
    ''').fetchall()

[('Diane', 'Murphy', 'San Francisco', 'CA'),
 ('Mary', 'Patterson', 'San Francisco', 'CA'),
 ('Jeff', 'Firrelli', 'San Francisco', 'CA'),
 ('William', 'Patterson', 'Sydney', ''),
 ('Gerard', 'Bondur', 'Paris', ''),
 ('Anthony', 'Bow', 'San Francisco', 'CA'),
 ('Leslie', 'Jennings', 'San Francisco', 'CA'),
 ('Leslie', 'Thompson', 'San Francisco', 'CA'),
 ('Julie', 'Firrelli', 'Boston', 'MA'),
 ('Steve', 'Patterson', 'Boston', 'MA'),
 ('Foon Yue', 'Tseng', 'NYC', 'NY'),
 ('George', 'Vanauf', 'NYC', 'NY'),
 ('Loui', 'Bondur', 'Paris', ''),
 ('Gerard', 'Hernandez', 'Paris', ''),
 ('Pamela', 'Castillo', 'Paris', ''),
 ('Larry', 'Bott', 'London', ''),
 ('Barry', 'Jones', 'London', ''),
 ('Andy', 'Fixter', 'Sydney', ''),
 ('Peter', 'Marsh', 'Sydney', ''),
 ('Tom', 'King', 'Sydney', ''),
 ('Mami', 'Nishi', 'Tokyo', 'Chiyoda-Ku'),
 ('Yoshimi', 'Kato', 'Tokyo', 'Chiyoda-Ku'),
 ('Martin', 'Gerard', 'Paris', '')]

## Customers and their Orders (a One-to-Many join)

Return a list of all the customers first and last names along with a record for each of their order numbers, order dates and statuses.

In [5]:
cur.execute('''
    SELECT contactFirstName, contactLastName, orderNumber
    FROM customers
    JOIN orders
    USING(customerNumber)''').fetchall()

[('Carine ', 'Schmitt', '10123'),
 ('Carine ', 'Schmitt', '10298'),
 ('Carine ', 'Schmitt', '10345'),
 ('Jean', 'King', '10124'),
 ('Jean', 'King', '10278'),
 ('Jean', 'King', '10346'),
 ('Peter', 'Ferguson', '10120'),
 ('Peter', 'Ferguson', '10125'),
 ('Peter', 'Ferguson', '10223'),
 ('Peter', 'Ferguson', '10342'),
 ('Peter', 'Ferguson', '10347'),
 ('Janine ', 'Labrune', '10275'),
 ('Janine ', 'Labrune', '10315'),
 ('Janine ', 'Labrune', '10375'),
 ('Janine ', 'Labrune', '10425'),
 ('Jonas ', 'Bergulfsen', '10103'),
 ('Jonas ', 'Bergulfsen', '10158'),
 ('Jonas ', 'Bergulfsen', '10309'),
 ('Jonas ', 'Bergulfsen', '10325'),
 ('Susan', 'Nelson', '10113'),
 ('Susan', 'Nelson', '10135'),
 ('Susan', 'Nelson', '10142'),
 ('Susan', 'Nelson', '10182'),
 ('Susan', 'Nelson', '10229'),
 ('Susan', 'Nelson', '10271'),
 ('Susan', 'Nelson', '10282'),
 ('Susan', 'Nelson', '10312'),
 ('Susan', 'Nelson', '10335'),
 ('Susan', 'Nelson', '10357'),
 ('Susan', 'Nelson', '10368'),
 ('Susan', 'Nelson', '10371'),
 ('Susan', 'Nelson', '10382'),
 ('Susan', 'Nelson', '10385'),
 ('Susan', 'Nelson', '10390'),
 ('Susan', 'Nelson', '10396'),
 ('Susan', 'Nelson', '10421'),
 ('Roland', 'Keitel', '10101'),
 ('Roland', 'Keitel', '10230'),
 ('Roland', 'Keitel', '10300'),
 ('Roland', 'Keitel', '10323'),
 ('Julie', 'Murphy', '10111'),
 ('Julie', 'Murphy', '10201'),
 ('Julie', 'Murphy', '10333'),
 ('Kwai', 'Lee', '10107'),
 ('Kwai', 'Lee', '10248'),
 ('Kwai', 'Lee', '10292'),
 ('Kwai', 'Lee', '10329'),
 ('Diego ', 'Freyre', '10104'),
 ('Diego ', 'Freyre', '10128'),
 ('Diego ', 'Freyre', '10133'),
 ('Diego ', 'Freyre', '10153'),
 ('Diego ', 'Freyre', '10156'),
 ('Diego ', 'Freyre', '10190'),
 ('Diego ', 'Freyre', '10203'),
 ('Diego ', 'Freyre', '10205'),
 ('Diego ', 'Freyre', '10212'),
 ('Diego ', 'Freyre', '10244'),
 ('Diego ', 'Freyre', '10246'),
 ('Diego ', 'Freyre', '10262'),
 ('Diego ', 'Freyre', '10279'),
 ('Diego ', 'Freyre', '10311'),
 ('Diego ', 'Freyre', '10350'),
 ('Diego ', 'Freyre', '10355'),
 ('Diego ', 'Freyre', '10358'),
 ('Diego ', 'Freyre', '10378'),
 ('Diego ', 'Freyre', '10379'),
 ('Diego ', 'Freyre', '10380'),
 ('Diego ', 'Freyre', '10383'),
 ('Diego ', 'Freyre', '10386'),
 ('Diego ', 'Freyre', '10394'),
 ('Diego ', 'Freyre', '10412'),
 ('Diego ', 'Freyre', '10417'),
 ('Diego ', 'Freyre', '10424'),
 ('Christina ', 'Berglund', '10112'),
 ('Christina ', 'Berglund', '10320'),
 ('Christina ', 'Berglund', '10326'),
 ('Christina ', 'Berglund', '10334'),
 ('Jytte ', 'Petersen', '10105'),
 ('Jytte ', 'Petersen', '10238'),
 ('Jytte ', 'Petersen', '10256'),
 ('Jytte ', 'Petersen', '10327'),
 ('Jytte ', 'Petersen', '10406'),
 ('Mary ', 'Saveley', '10194'),
 ('Mary ', 'Saveley', '10208'),
 ('Mary ', 'Saveley', '10227'),
 ('Eric', 'Natividad', '10117'),
 ('Eric', 'Natividad', '10150'),
 ('Eric', 'Natividad', '10165'),
 ('Eric', 'Natividad', '10277'),
 ('Eric', 'Natividad', '10387'),
 ('Jeff', 'Young', '10127'),
 ('Jeff', 'Young', '10204'),
 ('Jeff', 'Young', '10267'),
 ('Jeff', 'Young', '10349'),
 ('Kelvin', 'Leong', '10272'),
 ('Kelvin', 'Leong', '10281'),
 ('Kelvin', 'Leong', '10318'),
 ('Kelvin', 'Leong', '10422'),
 ('Juri', 'Hashimoto', '10140'),
 ('Juri', 'Hashimoto', '10168'),
 ('Juri', 'Hashimoto', '10317'),
 ('Juri', 'Hashimoto', '10362'),
 ('Wendy', 'Victorino', '10217'),
 ('Wendy', 'Victorino', '10259'),
 ('Wendy', 'Victorino', '10288'),
 ('Wendy', 'Victorino', '10409'),
 ('Veysel', 'Oeztan', '10181'),
 ('Veysel', 'Oeztan', '10188'),
 ('Veysel', 'Oeztan', '10289'),
 ('Martine ', 'Rancé', '10180'),
 ('Martine ', 'Rancé', '10224'),
 ('Marie', 'Bertrand', '10114'),
 ('Marie', 'Bertrand', '10286'),
 ('Marie', 'Bertrand', '10336'),
 ('Jerry', 'Tseng', '10228'),
 ('Jerry', 'Tseng', '10249'),
 ('Julie', 'King', '10172'),
 ('Julie', 'King', '10263'),
 ('Julie', 'King', '10413'),
 ('Mory', 'Kentary', '10210'),
 ('Mory', 'Kentary', '10240'),
 ('Michael', 'Frick', '10102'),
 ('Michael', 'Frick', '10237'),
 ('Michael', 'Frick', '10324'),
 ('Matti', 'Karttunen', '10155'),
 ('Matti', 'Karttunen', '10299'),
 ('Matti', 'Karttunen', '10377'),
 ('Rachel', 'Ashworth', '10110'),
 ('Rachel', 'Ashworth', '10306'),
 ('Rachel', 'Ashworth', '10332'),
 ('Dean', 'Cassidy', '10220'),
 ('Dean', 'Cassidy', '10297'),
 ('Leslie', 'Taylor', '10130'),
 ('Leslie', 'Taylor', '10290'),
 ('Leslie', 'Taylor', '10352'),
 ('Elizabeth', 'Devon', '10253'),
 ('Elizabeth', 'Devon', '10302'),
 ('Elizabeth', 'Devon', '10403'),
 ('Yoshi ', 'Tamuri', '10206'),
 ('Yoshi ', 'Tamuri', '10313'),
 ('Miguel', 'Barajas', '10276'),
 ('Miguel', 'Barajas', '10294'),
 ('Julie', 'Young', '10145'),
 ('Julie', 'Young', '10189'),
 ('Julie', 'Young', '10367'),
 ('Frédérique ', 'Citeaux', '10241'),
 ('Frédérique ', 'Citeaux', '10255'),
 ('Frédérique ', 'Citeaux', '10405'),
 ('Mike', 'Gao', '10187'),
 ('Mike', 'Gao', '10200'),
 ('Eduardo ', 'Saavedra', '10118'),
 ('Eduardo ', 'Saavedra', '10197'),
 ('Eduardo ', 'Saavedra', '10340'),
 ('Mary', 'Young', '10154'),
 ('Mary', 'Young', '10376'),
 ('Palle', 'Ibsen', '10161'),
 ('Palle', 'Ibsen', '10314'),
 ('Jean ', 'Fresnière', '10171'),
 ('Jean ', 'Fresnière', '10261'),
 ('Jean ', 'Fresnière', '10411'),
 ('Valarie', 'Thompson', '10222'),
 ('Valarie', 'Thompson', '10226'),
 ('Helen ', 'Bennett', '10232'),
 ('Helen ', 'Bennett', '10316'),
 ('Annette ', 'Roulet', '10136'),
 ('Annette ', 'Roulet', '10178'),
 ('Annette ', 'Roulet', '10397'),
 ('Paolo ', 'Accorti', '10280'),
 ('Paolo ', 'Accorti', '10293'),
 ('Daniel', 'Da Silva', '10134'),
 ('Daniel', 'Da Silva', '10356'),
 ('Daniel', 'Da Silva', '10395'),
 ('Daniel ', 'Tonini', '10216'),
 ('Daniel ', 'Tonini', '10304'),
 ('Henriette ', 'Pfalzheim', '10191'),
 ('Henriette ', 'Pfalzheim', '10310'),
 ('Elizabeth ', 'Lincoln', '10235'),
 ('Elizabeth ', 'Lincoln', '10283'),
 ('Anna', "O'Hara", '10148'),
 ('Anna', "O'Hara", '10169'),
 ('Anna', "O'Hara", '10370'),
 ('Anna', "O'Hara", '10391'),
 ('Giovanni ', 'Rovelli', '10106'),
 ('Giovanni ', 'Rovelli', '10173'),
 ('Giovanni ', 'Rovelli', '10328'),
 ('Adrian', 'Huxley', '10139'),
 ('Adrian', 'Huxley', '10270'),
 ('Adrian', 'Huxley', '10361'),
 ('Adrian', 'Huxley', '10420'),
 ('Marta', 'Hernandez', '10285'),
 ('Marta', 'Hernandez', '10305'),
 ('Mihael', 'Holz', '10225'),
 ('Mihael', 'Holz', '10287'),
 ('Jan', 'Klaeboe', '10284'),
 ('Jan', 'Klaeboe', '10301'),
 ('Pirkko', 'Koskitalo', '10151'),
 ('Pirkko', 'Koskitalo', '10239'),
 ('Pirkko', 'Koskitalo', '10373'),
 ('Catherine ', 'Dewey', '10221'),
 ('Catherine ', 'Dewey', '10273'),
 ('Catherine ', 'Dewey', '10423'),
 ('Steve', 'Frick', '10195'),
 ('Steve', 'Frick', '10308'),
 ('Wing', 'Huang', '10143'),
 ('Wing', 'Huang', '10185'),
 ('Wing', 'Huang', '10365'),
 ('Julie', 'Brown', '10159'),
 ('Julie', 'Brown', '10162'),
 ('Julie', 'Brown', '10381'),
 ('Julie', 'Brown', '10384'),
 ('Mike', 'Graham', '10132'),
 ('Mike', 'Graham', '10254'),
 ('Mike', 'Graham', '10354'),
 ('Mike', 'Graham', '10393'),
 ('Mike', 'Graham', '10404'),
 ('Ann ', 'Brown', '10129'),
 ('Ann ', 'Brown', '10175'),
 ('Ann ', 'Brown', '10351'),
 ('William', 'Brown', '10233'),
 ('William', 'Brown', '10251'),
 ('William', 'Brown', '10401'),
 ('Ben', 'Calaghan', '10152'),
 ('Ben', 'Calaghan', '10174'),
 ('Ben', 'Calaghan', '10374'),
 ('Kalle', 'Suominen', '10141'),
 ('Kalle', 'Suominen', '10247'),
 ('Kalle', 'Suominen', '10363'),
 ('Francisca', 'Cervantes', '10183'),
 ('Francisca', 'Cervantes', '10307'),
 ('Jesus', 'Fernandez', '10177'),
 ('Jesus', 'Fernandez', '10231'),
 ('Brian', 'Chandler', '10160'),
 ('Brian', 'Chandler', '10209'),
 ('Laurence ', 'Lebihan', '10122'),
 ('Laurence ', 'Lebihan', '10344'),
 ('Laurence ', 'Lebihan', '10364'),
 ('Paul ', 'Henriot', '10121'),
 ('Paul ', 'Henriot', '10137'),
 ('Paul ', 'Henriot', '10343'),
 ('Paul ', 'Henriot', '10359'),
 ('Paul ', 'Henriot', '10398'),
 ('Wales', 'MacKinlay', '10202'),
 ('Wales', 'MacKinlay', '10260'),
 ('Wales', 'MacKinlay', '10410'),
 ('Juri', 'Yoshido', '10264'),
 ('Juri', 'Yoshido', '10295'),
 ('Juri', 'Yoshido', '10414'),
 ('Dorothy', 'Young', '10100'),
 ('Dorothy', 'Young', '10192'),
 ('Dorothy', 'Young', '10322'),
 ('Allen', 'Nelson', '10147'),
 ('Allen', 'Nelson', '10274'),
 ('Allen', 'Nelson', '10369'),
 ('Pascale ', 'Cartrain', '10116'),
 ('Pascale ', 'Cartrain', '10144'),
 ('Pascale ', 'Cartrain', '10338'),
 ('Pascale ', 'Cartrain', '10366'),
 ('Georg ', 'Pipps', '10119'),
 ('Georg ', 'Pipps', '10269'),
 ('Georg ', 'Pipps', '10341'),
 ('Georg ', 'Pipps', '10419'),
 ('Arnold', 'Cruz', '10108'),
 ('Arnold', 'Cruz', '10198'),
 ('Arnold', 'Cruz', '10330'),
 ('Maurizio ', 'Moroni', '10176'),
 ('Maurizio ', 'Moroni', '10266'),
 ('Maurizio ', 'Moroni', '10416'),
 ('Akiko', 'Shimamura', '10258'),
 ('Akiko', 'Shimamura', '10339'),
 ('Akiko', 'Shimamura', '10372'),
 ('Akiko', 'Shimamura', '10408'),
 ('Dominique', 'Perrier', '10211'),
 ('Dominique', 'Perrier', '10252'),
 ('Dominique', 'Perrier', '10402'),
 ('Sarah', 'McRoy', '10234'),
 ('Sarah', 'McRoy', '10268'),
 ('Sarah', 'McRoy', '10418'),
 ('Michael', 'Donnermeyer', '10296'),
 ('Maria', 'Hernandez', '10115'),
 ('Maria', 'Hernandez', '10163'),
 ('Maria', 'Hernandez', '10337'),
 ('Dan', 'Lewis', '10131'),
 ('Dan', 'Lewis', '10146'),
 ('Dan', 'Lewis', '10353'),
 ('Martha', 'Larsson', '10167'),
 ('Martha', 'Larsson', '10291'),
 ('Martha', 'Larsson', '10389'),
 ('Sue', 'Frick', '10250'),
 ('Sue', 'Frick', '10257'),
 ('Sue', 'Frick', '10400'),
 ('Sue', 'Frick', '10407'),
 ('Roland ', 'Mendel', '10164'),
 ('Roland ', 'Mendel', '10170'),
 ('Roland ', 'Mendel', '10392'),
 ('Leslie', 'Murphy', '10196'),
 ('Leslie', 'Murphy', '10245'),
 ('Yu', 'Choi', '10242'),
 ('Yu', 'Choi', '10319'),
 ('Martín ', 'Sommer', '10126'),
 ('Martín ', 'Sommer', '10214'),
 ('Martín ', 'Sommer', '10348'),
 ('Violeta', 'Benitez', '10166'),
 ('Violeta', 'Benitez', '10321'),
 ('Violeta', 'Benitez', '10388'),
 ('Sean', 'Clenahan', '10193'),
 ('Sean', 'Clenahan', '10265'),
 ('Sean', 'Clenahan', '10415'),
 ('Franco', 'Ricotti', '10157'),
 ('Franco', 'Ricotti', '10218'),
 ('Steve', 'Thompson', '10199'),
 ('Steve', 'Thompson', '10215'),
 ('José Pedro ', 'Roel', '10184'),
 ('José Pedro ', 'Roel', '10303'),
 ('Rosa', 'Salazar', '10109'),
 ('Rosa', 'Salazar', '10236'),
 ('Rosa', 'Salazar', '10331'),
 ('Sue', 'Taylor', '10149'),
 ('Sue', 'Taylor', '10219'),
 ('Thomas ', 'Smith', '10186'),
 ('Thomas ', 'Smith', '10213'),
 ('Valarie', 'Franco', '10207'),
 ('Valarie', 'Franco', '10243'),
 ('Tony', 'Snowden', '10138'),
 ('Tony', 'Snowden', '10179'),
 ('Tony', 'Snowden', '10360'),
 ('Tony', 'Snowden', '10399')]

## Customers and their Payments (another One-to-Many join)

Return a list of customers first and last names along with details about their payments including the amount and date of payments. Sort these results in descending order by the payment amount.

In [9]:
cur.execute('''
    SELECT contactFirstName, contactLastName, amount, paymentDate
    FROM customers
    JOIN payments
    USING(customerNumber)
    ''').fetchall()

[('Carine ', 'Schmitt', '14571.44', '2003-06-05'),
 ('Carine ', 'Schmitt', '6066.78', '2004-10-19'),
 ('Carine ', 'Schmitt', '1676.14', '2004-12-18'),
 ('Jean', 'King', '32641.98', '2003-06-06'),
 ('Jean', 'King', '33347.88', '2004-08-20'),
 ('Jean', 'King', '14191.12', '2004-12-17'),
 ('Peter', 'Ferguson', '45864.03', '2003-05-20'),
 ('Peter', 'Ferguson', '7565.08', '2003-05-31'),
 ('Peter', 'Ferguson', '44894.74', '2004-03-10'),
 ('Peter', 'Ferguson', '82261.22', '2004-12-15'),
 ('Janine ', 'Labrune', '47924.19', '2004-08-08'),
 ('Janine ', 'Labrune', '19501.82', '2004-11-14'),
 ('Janine ', 'Labrune', '49523.67', '2005-02-22'),
 ('Jonas ', 'Bergulfsen', '50218.95', '2003-02-16'),
 ('Jonas ', 'Bergulfsen', '1491.38', '2003-10-28'),
 ('Jonas ', 'Bergulfsen', '17876.32', '2004-11-04'),
 ('Jonas ', 'Bergulfsen', '34638.14', '2004-11-28'),
 ('Susan', 'Nelson', '11044.30', '2003-04-11'),
 ('Susan', 'Nelson', '111654.40', '2003-08-15'),
 ('Susan', 'Nelson', '45084.38', '2003-11-25'),
 ('Susan', 'Nelson', '43369.30', '2004-03-26'),
 ('Susan', 'Nelson', '85410.87', '2004-08-28'),
 ('Susan', 'Nelson', '55639.66', '2004-11-02'),
 ('Susan', 'Nelson', '47142.70', '2004-12-27'),
 ('Susan', 'Nelson', '101244.59', '2005-03-05'),
 ('Susan', 'Nelson', '83598.04', '2005-04-16'),
 ('Roland', 'Keitel', '10549.01', '2003-01-28'),
 ('Roland', 'Keitel', '24101.81', '2003-10-18'),
 ('Roland', 'Keitel', '33820.62', '2004-03-24'),
 ('Roland', 'Keitel', '7466.32', '2004-11-18'),
 ('Julie', 'Murphy', '16537.85', '2003-04-09'),
 ('Julie', 'Murphy', '23923.93', '2003-12-11'),
 ('Julie', 'Murphy', '26248.78', '2004-12-08'),
 ('Kwai', 'Lee', '22292.62', '2003-03-12'),
 ('Kwai', 'Lee', '35321.97', '2004-09-11'),
 ('Kwai', 'Lee', '50025.35', '2004-12-02'),
 ('Diego ', 'Freyre', '40206.20', '2003-02-25'),
 ('Diego ', 'Freyre', '36251.03', '2003-07-19'),
 ('Diego ', 'Freyre', '49539.37', '2003-10-26'),
 ('Diego ', 'Freyre', '63843.55', '2003-12-09'),
 ('Diego ', 'Freyre', '59830.55', '2004-01-30'),
 ('Diego ', 'Freyre', '26155.91', '2004-05-17'),
 ('Diego ', 'Freyre', '35420.74', '2004-07-09'),
 ('Diego ', 'Freyre', '20009.53', '2004-08-16'),
 ('Diego ', 'Freyre', '36140.38', '2004-11-01'),
 ('Diego ', 'Freyre', '116208.40', '2004-12-31'),
 ('Diego ', 'Freyre', '120166.58', '2005-03-18'),
 ('Diego ', 'Freyre', '65071.26', '2005-03-25'),
 ('Diego ', 'Freyre', '46895.48', '2005-05-19'),
 ('Christina ', 'Berglund', '7674.94', '2003-04-09'),
 ('Christina ', 'Berglund', '36005.71', '2004-12-12'),
 ('Jytte ', 'Petersen', '53959.21', '2003-02-20'),
 ('Jytte ', 'Petersen', '28211.70', '2004-04-26'),
 ('Jytte ', 'Petersen', '4710.73', '2004-07-03'),
 ('Jytte ', 'Petersen', '20564.86', '2004-12-01'),
 ('Mary ', 'Saveley', '39712.10', '2003-12-10'),
 ('Mary ', 'Saveley', '49614.72', '2004-01-16'),
 ('Mary ', 'Saveley', '40978.53', '2004-03-18'),
 ('Eric', 'Natividad', '44380.15', '2003-04-22'),
 ('Eric', 'Natividad', '105743.00', '2003-12-26'),
 ('Eric', 'Natividad', '2611.84', '2004-08-11'),
 ('Eric', 'Natividad', '3516.04', '2005-03-27'),
 ('Jeff', 'Young', '58841.35', '2003-06-18'),
 ('Jeff', 'Young', '58793.53', '2003-12-22'),
 ('Jeff', 'Young', '20314.44', '2004-07-26'),
 ('Jeff', 'Young', '39964.63', '2004-12-14'),
 ('Kelvin', 'Leong', '63357.13', '2004-09-07'),
 ('Kelvin', 'Leong', '35152.12', '2004-11-19'),
 ('Juri', 'Hashimoto', '38675.13', '2003-08-05'),
 ('Juri', 'Hashimoto', '50743.65', '2003-11-18'),
 ('Juri', 'Hashimoto', '2434.25', '2004-11-14'),
 ('Juri', 'Hashimoto', '12692.19', '2005-02-02'),
 ('Wendy', 'Victorino', '22474.17', '2004-02-28'),
 ('Wendy', 'Victorino', '44160.92', '2004-07-07'),
 ('Wendy', 'Victorino', '38785.48', '2004-09-16'),
 ('Veysel', 'Oeztan', '85024.46', '2003-12-03'),
 ('Veysel', 'Oeztan', '12538.01', '2004-09-19'),
 ('Martine ', 'Rancé', '42783.81', '2003-11-22'),
 ('Martine ', 'Rancé', '18997.89', '2004-03-15'),
 ('Marie', 'Bertrand', '33383.14', '2003-04-20'),
 ('Marie', 'Bertrand', '1960.80', '2004-09-09'),
 ('Marie', 'Bertrand', '51209.58', '2004-12-04'),
 ('Jerry', 'Tseng', '20355.24', '2004-03-29'),
 ('Jerry', 'Tseng', '11843.45', '2004-05-13'),
 ('Julie', 'King', '24879.08', '2003-11-19'),
 ('Julie', 'King', '42044.77', '2004-07-10'),
 ('Julie', 'King', '28500.78', '2005-05-19'),
 ('Mory', 'Kentary', '47177.59', '2004-01-19'),
 ('Mory', 'Kentary', '15183.63', '2004-04-17'),
 ('Michael', 'Frick', '5494.78', '2003-01-30'),
 ('Michael', 'Frick', '22602.36', '2004-04-25'),
 ('Michael', 'Frick', '44400.50', '2004-11-16'),
 ('Matti', 'Karttunen', '37602.48', '2003-10-27'),
 ('Matti', 'Karttunen', '34341.08', '2004-10-21'),
 ('Matti', 'Karttunen', '23602.90', '2005-03-10'),
 ('Rachel', 'Ashworth', '48425.69', '2003-03-27'),
 ('Rachel', 'Ashworth', '52825.29', '2004-11-03'),
 ('Rachel', 'Ashworth', '47159.11', '2004-12-08'),
 ('Dean', 'Cassidy', '32538.74', '2004-03-01'),
 ('Dean', 'Cassidy', '17359.53', '2004-10-03'),
 ('Leslie', 'Taylor', '6036.96', '2003-07-06'),
 ('Leslie', 'Taylor', '5858.56', '2004-09-21'),
 ('Leslie', 'Taylor', '9658.74', '2004-12-06'),
 ('Elizabeth', 'Devon', '23908.24', '2003-10-20'),
 ('Elizabeth', 'Devon', '37258.94', '2004-06-15'),
 ('Yoshi ', 'Tamuri', '36527.61', '2003-12-18'),
 ('Yoshi ', 'Tamuri', '33594.58', '2004-11-08'),
 ('Miguel', 'Barajas', '51152.86', '2004-08-13'),
 ('Miguel', 'Barajas', '4424.40', '2004-09-24'),
 ('Julie', 'Young', '50342.74', '2003-09-05'),
 ('Julie', 'Young', '3879.96', '2003-12-04'),
 ('Julie', 'Young', '39580.60', '2005-02-06'),
 ('Frédérique ', 'Citeaux', '36069.26', '2004-05-04'),
 ('Frédérique ', 'Citeaux', '4632.31', '2004-06-21'),
 ('Frédérique ', 'Citeaux', '35157.75', '2005-05-03'),
 ('Mike', 'Gao', '45480.79', '2003-12-09'),
 ('Eduardo ', 'Saavedra', '3101.40', '2003-05-09'),
 ('Eduardo ', 'Saavedra', '40473.86', '2003-12-14'),
 ('Eduardo ', 'Saavedra', '24945.21', '2004-12-06'),
 ('Mary', 'Young', '4465.85', '2003-10-18'),
 ('Mary', 'Young', '3452.75', '2005-03-02'),
 ('Palle', 'Ibsen', '36164.46', '2003-10-31'),
 ('Palle', 'Ibsen', '53745.34', '2004-11-02'),
 ('Jean ', 'Fresnière', '16909.84', '2003-11-18'),
 ('Jean ', 'Fresnière', '22997.45', '2004-07-01'),
 ('Jean ', 'Fresnière', '29070.38', '2005-05-20'),
 ('Valarie', 'Thompson', '80375.24', '2004-03-15'),
 ('Helen ', 'Bennett', '24995.61', '2004-03-28'),
 ('Helen ', 'Bennett', '46788.14', '2004-11-16'),
 ('Annette ', 'Roulet', '14232.70', '2003-07-21'),
 ('Annette ', 'Roulet', '33818.34', '2003-11-22'),
 ('Annette ', 'Roulet', '12432.32', '2005-06-03'),
 ('Paolo ', 'Accorti', '48298.99', '2004-09-04'),
 ('Paolo ', 'Accorti', '33924.24', '2004-09-19'),
 ('Daniel', 'Da Silva', '23419.47', '2003-07-18'),
 ('Daniel', 'Da Silva', '26311.63', '2004-12-30'),
 ('Daniel', 'Da Silva', '17928.09', '2005-05-17'),
 ('Daniel ', 'Tonini', '5759.42', '2004-02-10'),
 ('Daniel ', 'Tonini', '53116.99', '2004-10-22'),
 ('Henriette ', 'Pfalzheim', '27988.47', '2003-12-07'),
 ('Henriette ', 'Pfalzheim', '61234.67', '2004-11-06'),
 ('Elizabeth ', 'Lincoln', '29284.42', '2004-04-24'),
 ('Elizabeth ', 'Lincoln', '37527.58', '2004-08-30'),
 ('Anna', "O'Hara", '41554.73', '2003-09-28'),
 ('Anna', "O'Hara", '38547.19', '2003-11-13'),
 ('Anna', "O'Hara", '27083.78', '2005-02-09'),
 ('Anna', "O'Hara", '29848.52', '2005-04-30'),
 ('Giovanni ', 'Rovelli', '52151.81', '2003-03-02'),
 ('Giovanni ', 'Rovelli', '37723.79', '2003-11-24'),
 ('Giovanni ', 'Rovelli', '37654.09', '2004-12-05'),
 ('Adrian', 'Huxley', '24013.52', '2003-08-03'),
 ('Adrian', 'Huxley', '35806.73', '2004-08-02'),
 ('Adrian', 'Huxley', '31835.36', '2005-01-03'),
 ('Marta', 'Hernandez', '43134.04', '2004-09-05'),
 ('Marta', 'Hernandez', '47411.33', '2004-10-28'),
 ('Mihael', 'Holz', '47375.92', '2004-03-13'),
 ('Mihael', 'Holz', '61402.00', '2004-09-18'),
 ('Jan', 'Klaeboe', '36798.88', '2003-10-24'),
 ('Jan', 'Klaeboe', '32260.16', '2004-09-05'),
 ('Pirkko', 'Koskitalo', '32723.04', '2003-10-06'),
 ('Pirkko', 'Koskitalo', '16212.59', '2004-04-25'),
 ('Pirkko', 'Koskitalo', '46770.52', '2005-02-15'),
 ('Catherine ', 'Dewey', '16901.38', '2004-03-03'),
 ('Catherine ', 'Dewey', '45352.47', '2004-08-09'),
 ('Steve', 'Frick', '36092.40', '2003-12-07'),
 ('Steve', 'Frick', '42339.76', '2004-11-06'),
 ('Wing', 'Huang', '41016.75', '2003-08-20'),
 ('Wing', 'Huang', '52548.49', '2003-11-24'),
 ('Wing', 'Huang', '8307.28', '2005-01-18'),
 ('Julie', 'Brown', '85559.12', '2003-11-03'),
 ('Julie', 'Brown', '46781.66', '2005-03-15'),
 ('Mike', 'Graham', '2880.00', '2003-07-05'),
 ('Mike', 'Graham', '37281.36', '2004-06-24'),
 ('Mike', 'Graham', '39440.59', '2004-12-24'),
 ('Mike', 'Graham', '75020.13', '2005-05-23'),
 ('Ann ', 'Brown', '29429.14', '2003-07-07'),
 ('Ann ', 'Brown', '37455.77', '2003-11-23'),
 ('Ann ', 'Brown', '13671.82', '2004-12-13'),
 ('William', 'Brown', '7178.66', '2004-04-16'),
 ('William', 'Brown', '31102.85', '2004-05-30'),
 ('Ben', 'Calaghan', '9821.32', '2003-10-17'),
 ('Ben', 'Calaghan', '23936.53', '2003-11-15'),
 ('Ben', 'Calaghan', '21432.31', '2005-03-01'),
 ('Kalle', 'Suominen', '29716.86', '2003-08-16'),
 ('Kalle', 'Suominen', '28394.54', '2004-05-22'),
 ('Kalle', 'Suominen', '45785.34', '2005-01-27'),
 ('Francisca', 'Cervantes', '34606.28', '2003-11-28'),
 ('Francisca', 'Cervantes', '23333.06', '2004-10-24'),
 ('Jesus', 'Fernandez', '31428.21', '2003-11-24'),
 ('Jesus', 'Fernandez', '15322.93', '2004-04-02'),
 ('Brian', 'Chandler', '20452.50', '2003-10-24'),
 ('Brian', 'Chandler', '21053.69', '2004-01-18'),
 ('Laurence ', 'Lebihan', '50824.66', '2003-05-25'),
 ('Laurence ', 'Lebihan', '18888.31', '2004-12-11'),
 ('Laurence ', 'Lebihan', '1834.56', '2005-01-29'),
 ('Paul ', 'Henriot', '16700.47', '2003-05-21'),
 ('Paul ', 'Henriot', '13920.26', '2003-07-21'),
 ('Paul ', 'Henriot', '49705.52', '2005-01-10'),
 ('Paul ', 'Henriot', '46656.94', '2005-06-09'),
 ('Wales', 'MacKinlay', '20220.04', '2003-12-16'),
 ('Wales', 'MacKinlay', '36442.34', '2004-05-15'),
 ('Juri', 'Yoshido', '18473.71', '2004-07-11'),
 ('Juri', 'Yoshido', '15059.76', '2004-09-21'),
 ('Dorothy', 'Young', '10223.83', '2003-01-16'),
 ('Dorothy', 'Young', '55425.77', '2003-12-05'),
 ('Dorothy', 'Young', '50799.69', '2004-11-17'),
 ('Allen', 'Nelson', '32680.31', '2003-09-16'),
 ('Allen', 'Nelson', '12530.51', '2004-08-02'),
 ('Allen', 'Nelson', '28322.83', '2005-02-12'),
 ('Pascale ', 'Cartrain', '1627.56', '2003-04-19'),
 ('Pascale ', 'Cartrain', '1128.20', '2003-08-22'),
 ('Pascale ', 'Cartrain', '12081.52', '2004-12-03'),
 ('Pascale ', 'Cartrain', '14379.90', '2005-02-03'),
 ('Georg ', 'Pipps', '35826.33', '2003-05-12'),
 ('Georg ', 'Pipps', '6419.84', '2004-08-01'),
 ('Georg ', 'Pipps', '42813.83', '2004-11-27'),
 ('Arnold', 'Cruz', '51001.22', '2003-03-09'),
 ('Arnold', 'Cruz', '20644.24', '2003-12-02'),
 ('Arnold', 'Cruz', '15822.84', '2004-11-19'),
 ('Maurizio ', 'Moroni', '38524.29', '2003-11-18'),
 ('Maurizio ', 'Moroni', '51619.02', '2004-07-18'),
 ('Akiko', 'Shimamura', '22037.91', '2004-06-21'),
 ('Akiko', 'Shimamura', '48927.64', '2004-11-29'),
 ('Akiko', 'Shimamura', '33967.73', '2005-02-14'),
 ('Akiko', 'Shimamura', '615.45', '2005-05-18'),
 ('Dominique', 'Perrier', '49165.16', '2004-01-28'),
 ('Dominique', 'Perrier', '25080.96', '2004-06-17'),
 ('Dominique', 'Perrier', '12190.85', '2005-04-23'),
 ('Sarah', 'McRoy', '31670.37', '2004-04-14'),
 ('Sarah', 'McRoy', '35034.57', '2004-07-25'),
 ('Michael', 'Donnermeyer', '31310.09', '2004-09-28'),
 ('Maria', 'Hernandez', '21665.98', '2003-04-16'),
 ('Maria', 'Hernandez', '22042.37', '2003-10-31'),
 ('Maria', 'Hernandez', '25505.98', '2004-12-07'),
 ('Dan', 'Lewis', '17032.29', '2003-06-25'),
 ('Dan', 'Lewis', '6631.36', '2003-09-15'),
 ('Dan', 'Lewis', '26304.13', '2004-12-17'),
 ('Martha', 'Larsson', '48809.90', '2004-09-30'),
 ('Martha', 'Larsson', '27966.54', '2005-04-18'),
 ('Sue', 'Frick', '59551.38', '2004-06-21'),
 ('Roland ', 'Mendel', '27121.90', '2003-11-15'),
 ('Roland ', 'Mendel', '15130.97', '2003-11-20'),
 ('Roland ', 'Mendel', '8807.12', '2005-05-03'),
 ('Leslie', 'Murphy', '38139.18', '2003-12-05'),
 ('Leslie', 'Murphy', '32239.47', '2004-05-12'),
 ('Yu', 'Choi', '1679.92', '2004-04-30'),
 ('Yu', 'Choi', '27550.51', '2004-11-13'),
 ('Martín ', 'Sommer', '57131.92', '2003-06-13'),
 ('Martín ', 'Sommer', '22162.61', '2004-02-06'),
 ('Martín ', 'Sommer', '33145.56', '2004-11-15'),
 ('Violeta', 'Benitez', '9977.85', '2003-11-08'),
 ('Violeta', 'Benitez', '48355.87', '2004-11-27'),
 ('Violeta', 'Benitez', '30293.77', '2005-04-15'),
 ('Sean', 'Clenahan', '35505.63', '2003-12-10'),
 ('Sean', 'Clenahan', '9415.13', '2004-07-28'),
 ('Franco', 'Ricotti', '17746.26', '2003-10-27'),
 ('Franco', 'Ricotti', '7612.06', '2004-02-17'),
 ('Steve', 'Thompson', '7678.25', '2003-12-09'),
 ('Steve', 'Thompson', '36070.47', '2004-02-13'),
 ('José Pedro ', 'Roel', '47513.19', '2003-11-29'),
 ('José Pedro ', 'Roel', '3474.66', '2004-10-26'),
 ('Rosa', 'Salazar', '25833.14', '2003-03-20'),
 ('Rosa', 'Salazar', '5899.38', '2004-04-14'),
 ('Rosa', 'Salazar', '45994.07', '2004-11-23'),
 ('Sue', 'Taylor', '29997.09', '2003-09-28'),
 ('Sue', 'Taylor', '12573.28', '2004-02-29'),
 ('Thomas ', 'Smith', '22275.73', '2003-12-04'),
 ('Thomas ', 'Smith', '7310.42', '2004-01-31'),
 ('Valarie', 'Franco', '59265.14', '2003-12-26'),
 ('Valarie', 'Franco', '6276.60', '2004-05-14'),
 ('Tony', 'Snowden', '32077.44', '2003-07-16'),
 ('Tony', 'Snowden', '52166.00', '2004-12-31'),
 ('Tony', 'Snowden', '30253.75', '2005-05-25')]

## Orders, Order details and Product Details (a Many-to-Many Join)

Return a list of customer first and last names, product names, quantities, and date ordered for each of the customers and each of their orders. Sort these in descending order by the order date.

Note: This will require joining 4 tables! This can be tricky! Give it a shot, and if you're still stuck, turn to the next section where you'll see how to write subqueries which can make complex queries such as this much simpler!

In [4]:
cur.execute('''
    SELECT contactFirstName, contactLastName, quantityOrdered, ''')

## Summary

In this lab, you practiced your knowledge on one-to-many and many-to-many relationships!